<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Content</title>
    <style>
      .d-none {display:none;}
    </style>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<header style="display:flex">
  <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
  <h1 style="margin-right: 20px;"><a href="/loginHome" th:text="${userid} != 'noname' ? 'hello,'+${userid}:'login'">login</a></h1>
  <button th:classappend="${userid} == 'noname' ? 'd-none':''" type="button" onclick="logout()">Logout</button>
</header>
<button th:classappend="${userid} == ${board.getUserId()} ? '':'d-none'"><a th:href="'/write/'+${board.getBoardId()}">수정/삭제</a></button>
<div>
  <div style="display:flex">
    <p style="margin-right: 20px;" th:text="${board.getBoardTitle()}">title</p>
    <p style="margin-right: 20px;" th:text="${board.getUserId()}">writer</p>
    <p style="margin-right: 20px;" th:text="${board.getBoardDate()}">date</p>
  </div>
  <hr>
  <div th:text="${board.getBoardContent()}">hello blabla</div>
  <hr>
  <div>
    <div style="display:flex">
      <p style="margin-right: 20px;">댓글작성자</p>
      <p style="margin-right: 20px;">댓글내용</p>
      <a style="margin-right: 20px;">❌</a>
    </div>
  </div>
  <table>
    <tr th:each="reply:${list}">
      <td th:text="${reply.getUserId()}"></td>
      <td th:text="${reply.getReplyContent()}"></td>
      <td th:text="${reply.getReplyDate()}"></td>
      <td th:classappend="${userid} == ${reply.getUserId()} ? ${reply.getReplyId()} : 'd-none'" type="button" onclick="deleteReply(this)">❌</td>
    </tr>
  </table>
  <form id="replyForm" th:classappend="${board.getBoardId()}">
    <input name="userId" th:value="${userid}" readonly/>
    <textarea name="replyContent" form="replyForm"></textarea>
    <input type="text" name="replyDate" readonly/>
    <button type="button" onclick="createReply()">등록</button>
  </form>
</div>
<script>
  const date = document.querySelector('input[name=replyDate]');
  let newDate = new Date;
  let today = `${newDate.getFullYear()}.${newDate.getMonth()+1}.${newDate.getDate()}`;
  date.value = today;

  function createReply(){
    let form = document.querySelector('#replyForm');
    console.log(form.className);
    if(form.userId.value == 'noname') alert('로그인 후 이용할 수 있습니다.');
    else {
      if(!form.replyContent.value) alert('내용을 입력해 주세요!');
      else {
        axios.post(`/createReply`, {userId: form.userId.value, boardId: parseInt(form.className), replyContent: form.replyContent.value, replyDate: form.replyDate.value })
        .then(res=> {
          if(res.status == 201) window.location.reload();
        })
        .catch(error=> { alert("댓글 등록에 실패했습니다");});
      }
    }
  }

  function deleteReply(e){
    let form = document.querySelector('#replyForm');
    console.log(form.className, e.className);
    axios.post(`/deleteReply`, {replyId: parseInt(e.className)})
    .then((res)=>{
        if(res.status == 204) window.location.reload();
        else alert("댓글 삭제에 실패했습니다");
    })
    .catch(error=> { alert("댓글 삭제에 실패했습니다");});
  }
</script>
</body>
</html>