<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Content</title>
</head>
<body>
<header style="display:flex">
  <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
  <h1 style="margin-right: 20px;"><a href="/loginHome">login</a></h1>
</header>
<button><a href="/">목록으로</a></button>
<button>수정</button>
<button>삭제</button>
<div>
  <div style="display:flex">
    <p style="margin-right: 20px;">title</p>
    <p style="margin-right: 20px;">writer</p>
    <p style="margin-right: 20px;">date</p>
  </div>
  <hr>
  <div>hello blabla</div>
  <hr>
  <div>
    <div style="display:flex">
      <p style="margin-right: 20px;">댓글작성자</p>
      <p style="margin-right: 20px;">댓글내용</p>
      <a style="margin-right: 20px;">❌</a>
    </div>
    <textarea></textarea>
    <button>등록</button>
  </div>
</div>
</body>
</html>