<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Content</title>
</head>
<body>
<header style="display:flex">
  <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
  <h1 style="margin-right: 20px;"><a href="/loginHome">login</a></h1>
</header>
<button><a href="/">목록으로</a></button>
<button>수정</button>
<button>삭제</button>
<div>
  <div style="display:flex">
    <p style="margin-right: 20px;" th:text="${board.getBoardTitle()}">title</p>
    <p style="margin-right: 20px;" th:text="${board.getUserId()}">writer</p>
    <p style="margin-right: 20px;" th:text="${board.getBoardDate()}">date</p>
  </div>
  <hr>
  <div th:text="${board.getBoardContent()}">hello blabla</div>
  <hr>
  <div>
    <div style="display:flex">
      <p style="margin-right: 20px;">댓글작성자</p>
      <p style="margin-right: 20px;">댓글내용</p>
      <a style="margin-right: 20px;">❌</a>
    </div>
  </div>
  <form id="replyForm" th:classappend="${board.getBoardId()}">
    <input name="userId" th:value="${userid}"/>
    <textarea name="replyContent" form="replyForm"></textarea>
    <input name="replyDate"/>
    <button onclick="reply()">등록</button>
  </form>
</div>
<script>
  const date = document.querySelector('input[name=replyDate]');
  let newDate = new Date;
  let today = `${newDate.getFullYear()}.${newDate.getMonth()}.${newDate.getDate()}`;
  date.value = today;

  function reply(){
    let form = document.querySelector('#replyForm');
    console.log(form.class);
<!--        axios.post(`/createReply`, {userId: form.userId.value, boardId: form.class, replyContent: form.replyContent.value, replyDate: form.replyDate.value })-->
<!--        .then((res)=>{-->
<!--            console.log(res.data);-->
<!--            if(!res.data) alert("댓글 등록에 실패했습니다");-->
<!--            else window.location.reload();-->
<!--        })-->
    }
</script>
</body>
</html>