<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header style="display:flex">
  <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
  <h1 style="margin-right: 20px;"><a href="/loginHome">login</a></h1>
</header>
<div>
    <h3>login</h3>
    <form>
      <input type="text" name="id" placeholder="id" required/><br>
      <input type="text" name="pw" placeholder="pw" required/><br>
      <button type="button" onclick="signin()">login</button>
      <a th:href="@{/signupHome}">회원가입</a>
        <a th:href="@{/users}">회원정보관리(이거조건부처리)</a>
    </form>
</div>
<script>
    function signin(){
        let form = document.querySelector('form');
        axios.post(`/login`, {id: form.id.value, pw:form.pw.value})
        .then((res)=>{
            alert(res.data);
            window.location.href = "/";
        });
    }
</script>
</body>
</html>