<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      .d-none {display: none;}
    </style>
</head>
<body>
<header style="display:flex">
  <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
  <h1 style="margin-right: 20px;"><a class="user" href="/loginHome" th:text="${userid} != null ? 'hello,'+${userid}:'login'"></a></h1>
  <button th:classappend="${isLogin} == true ? '':'d-none'" type="button" onclick="logout()">Logout</button>
</header>
<button><a th:href="@{/write}" >글 등록</a></button>
<table>
  <th>
    <td>번호</td>
    <td>제목[댓글수]</td>
    <td>작성자</td>
    <td>일시</td>
  </th>
  <tr th:each="board:${list}">
      <td th:text="${board.getBoardId()}"></td>
      <td><a th:href="'/content/'+${board.getBoardId()}" th:text="${board.getBoardTitle()}"></a></td>
      <td th:text="${board.getUserId()}"></td>
      <td th:text="${board.getBoardDate()}"></td>
  </tr>
</table>
<form id="search" method="get" action="/search">
  <select name="select">
    <option value="title">제목</option>
      <option value="content">내용</option>
    <option value="writer">작성자</option>
  </select>
  <input type="text" name="search"/>
  <button type="button" onclick="searchContent()">검색</button>
</form>
<script th:inline="javascript">
  /*<![CDATA[*/
  function logout(){
        axios.post(`/logout`, {id: /*[[${userid}]]*/})
        .then(response=> {
            window.location.href = "/";
        })
        .catch(error=> {
            alert("로그아웃에 실패했습니다.");
        });
  }
  /*]]>*/

  function searchContent(){
    let form = document.querySelector('#search');
    console.log(form.select.value);
    if(!form.search.value) alert('검색어를 입력하세요.');
    else form.submit();
  }
</script>
</body>
</html>