<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
      .d-none {display: none;}
    </style>
</head>
<body>
<header style="display:flex">
  <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
  <h1 style="margin-right: 20px;"><a href="/loginHome" th:text="${userid} ? 'hello,'+${userid}:'login'">login</a></h1>
  <button th:classappend="${isLogin} == true ? '':'d-none'" type="button" onclick="logout()">Logout</button>
</header>
<button><a href="/write">글 등록</a></button>
<div>
  <div style="display:flex">
    <p style="margin-right: 20px;">작성자</p>
    <p style="margin-right: 20px;">제목</p>
    <p style="margin-right: 20px;">일시</p>
  </div>
  <div style="display:flex" th:each="board:${list}" th:classappend="${board.getBoardId()}">
    <p style="margin-right: 20px;" th:text="${board.getUserId()}">작성자</p>
    <p style="margin-right: 20px;"><a th:href="@{/content}" th:text="${board.getTitle()}"></a></p>
    <p style="margin-right: 20px;" th:text="${board.getDate()}">일시</p>
  </div>
</div>
<form>
  <select>
    <option value="title_content">제목+내용</option>
    <option value="writer">작성자</option>
  </select>
  <input type="text"/>
  <button type="button">검색</button>
</form>
<script>
  function logout(){
        axios.post(`/logout`, {id: form.id.value})
        .then((res)=>{
            console.log(res.data);
            if(res.data == "ok") window.location.href = "/";
            else alert("로그인에 실패했습니다");
        })
    }
</script>
</body>
</html>