<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<header style="display:flex">
  <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
</header>
<table>
  <th>
  <td>번호</td>
  <td>제목[댓글수]</td>
  <td>작성자</td>
  <td>일시</td>
  </th>
  <tr th:each="board:${list}">
    <td th:text="${board.getBoardId()}"></td>
    <td><a th:href="'/content/'+${board.getBoardId()}" th:text="${board.getBoardTitle()}"></a></td>
    <td th:text="${board.getUserId()}"></td>
    <td th:text="${board.getBoardDate()}"></td>
  </tr>
</table>
</body>
</html>