<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      .d-none {display: none;}
    </style>
</head>
<body>
<header style="display:flex">
    <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
    <h1 style="margin-right: 20px;"><a href="/loginHome">login</a></h1>
</header>
<div>
    <h3>Sign up</h3>
    <form>
        <input type="text" name="id" placeholder="email" required/>
        <button type="button" onclick="mailauth()">이메일인증요청</button><br>
        <input type="text" name="authcode" placeholder="인증코드" required/>
        <button type="button" onclick="authcode()">인증코드전송</button><br>
        <input class="d-none" type="text" name="verify" value="이메일 인증에 성공하였습니다."/>
        <input type="text" name="pw" placeholder="pw" required/><br>
        <input type="text" name="pwCheck" placeholder="pwCheck" required/><br>
        <button type="button" onclick="signup()">회원가입</button>
    </form>
</div>
<script>
    function mailauth(){
        let email = document.querySelector("input[name=id]");
        if(!email.value) alert("이메일을 입력해 주세요!");
        else { axios.post(`/mailAuthReq`, {id: email.value})
            .then((res)=>{
                alert(res.data);
            })
            .catch(error => {
                if(error.response.status == 400) { alert(error.response.data.message);
                window.location.href = "/signupHome"; }
            });
        }
    }

    function authcode(){
        let verify = document.querySelector("input[name=verify]");
        let authCode = document.querySelector("input[name=authcode]");
        if(authCode != "") {
             axios.post(`/authCodeReq`, {authCode: authCode})
             .then((res)=>{
                  alert(res.data);
                  verify.className = 'd-none';
             })
             .catch(error=>{
                  if(error.response.status == 400) alert(error.response.data.message);
                  window.location.href = "/signupHome";
             });
        } else alert("인증코드를 입력하세요!");
    }

    function signup(){
        let auth = document.querySelector("input[name=auth]");
        let form = document.querySelector('form');
        if(!form.pw.value || !form.pwCheck.value) alert("내용을 모두 입력해 주세요!");
        else if(form.pw.value != form.pwCheck.value) alert("비밀번호를 정확히 입력해 주세요!");
        else if(auth.className == 'd-none') alert("이메일을 인증해 주세요!");
        else { axios.post(`/createUser`, {id: form.id.value, pw:form.pw.value})
            .then((res)=>{
                alert(res.data);
                window.location.href = "/loginHome";
            })
            .catch(error => {
                if(error.response.status == 400) alert(error.response.data.message);
            });
        }
    }


</script>
</body>
</html>