<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<header style="display:flex">
    <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
    <h1 style="margin-right: 20px;"><a href="/loginHome">login</a></h1>
</header>
<div>
    <h3>Sign up</h3>
    <form>
        <input type="text" name="id" placeholder="id" required/><br>
        <input type="text" name="pw" placeholder="pw" required/><br>
        <input type="text" name="pwCheck" placeholder="pwCheck" required/><br>
        <button type="button" onclick="signup()">회원가입</button>
    </form>
</div>
<script>
    function signup(){
        let form = document.querySelector('form');
        if(!form.id.value || !form.pw.value || !form.pwCheck.value) alert("내용을 모두 입력해 주세요!");
        if(form.pw.value != form.pwCheck.value) alert("비밀번호를 정확히 입력해 주세요!");
        axios.post(`/createUser`, {id: form.id.value, pw:form.pw.value})
        .then((res)=>{
            alert(res.data);
            window.location.href = "/loginHome";
        })
        .catch(error => {
            if(error.response.status == 400) alert(error.response.data.message);

        });
    }


</script>
</body>
</html>