<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 관리</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<header style="display:flex">
  <h1 style="margin-right: 20px;"><a href="/">Board</a></h1>
  <h1 style="margin-right: 20px;"><a href="/loginHome" th:text="${userid} != null ? 'hello,'+${userid}:'login'">login</a></h1>
  <button th:classappend="${isLogin} == true ? '':'d-none'" type="button" onclick="logout()">Logout</button>
</header>
<div>
  <h3 th:text="${userid}">여기 th 처리</h3>
  <form id="modify">
    <input type="text" name="id" th:value="${userid}" disabled/><br>
    <input type="text" name="newPw" placeholder="new password" required/><br>
    <input type="text" name="newPwCheck" placeholder="new password check" required/><br>
    <button type="button" onclick="modify()">회원정보수정</button>
  </form><button type="button" onclick="bye()">회원탈퇴</button>
</div>
<script th:inline="javascript">
  function modify(){
        let form = document.querySelector('#modify');
        if(!form.newPw.value || !form.newPwCheck.value) alert("비밀번호를 모두 입력해 주세요!");
        else if(form.newPw.value != form.newPwCheck.value) alert("비밀번호를 정확히 입력해 주세요!");
        else { axios.post(`/updateUser`, {id: form.id.value, pw: form.newPw.value})
                .then((res)=>{
                  alert(res.data);
                  window.location.href = "/";
                })
                .catch((error)=> {
                  if(error.response.status == 400) alert(error.response.data);
          });
        }
    }

  function bye(){
        let check = prompt('비밀번호를 입력해 주세요');
        let id = document.querySelector('input[name=id]');
        console.log(check,id.value);
        if(check) {
          axios.post(`/deleteUser`, {id: id.value, pw: check})
          .then((response)=> {
            alert(response.data);
            window.location.href = "/";
          })
          .catch((error)=> {
            if(error.response.status == 404 || error.response.status == 400) alert(error.response.data);
            else alert("회원 탈퇴에 실패하였습니다.");
          });
        }
    }
    /*<![CDATA[*/
    function logout(){
        axios.post(`/logout`, {id: /*[[${userid}]]*/})
        .then(response=> {
            window.location.href = "/";
        })
        .catch(error=> {
            alert("로그아웃에 실패했습니다.");
        });
    }
    /*]]>*/
</script>
</body>
</html>