<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Mypage</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <h1 th:text = "'Welcome, ' + ${user.getUserid()}"></h1>
  <form class="update">
      id :  <input type="text" name="userid" th:value="${user.getUserid()}" disabled>
      <br>
      pw : <input type="text" th:value="${user.getPassword()}" name="password">
      <br>
      nickname :  <input type="text" th:value="${user.getNickname()}" name="nickname">
      <br>
      <button id="update" type="button" onClick="modify()">회원정보수정</button>
      <button id="delete" type="button" onClick="remover()">회원탈퇴</button>
  </form>
  <script>
        function modify() {
            let form = document.querySelector(".update");
            if(form.password.value == "" || form.nickname.value == "") alert("정보를 기입해 주세요");
            else {
                axios({
                    method: "post",
                    url: "/user/info/update",
                    data: { userid: form.userid.value, password: form.password.value, nickname: form.nickname.value}
                })
                .then((res)=>{
                    console.log(res.data);
                    alert('회원정보 수정 완료!');
                    document.location.href = "/user";
                });
            }
         }

        function remover() {
            if(window.confirm("정말로 탈퇴하시겠습니까?")) {
            let form = document.querySelector(".update");
                axios({
                    method: "post",
                    url: "/user/info/delete",
                    data: { userid: form.userid.value }
                })
                .then((res)=>{
                    console.log(res.data);
                    alert('회원 탈퇴되었습니다.');
                    document.location.href = "/user";
                });
            }
        }
  </script>
</body>
</html>