<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
      .d-none {display : none;}
   </style>
    <script>
        function signup(){
            let form = document.querySelector(".signup");
            console.log(form.userid.value);
            axios.post(`/user/signup`, {userid : form.userid.value, password: form.password.value, nickname: form.nickname.value})
            .then((res)=>{
                console.log(res.data);
                alert("Welcome "+ res.data);
            });
        }
        function signIn(){
            let form = document.querySelector(".signup");
            axios.post(`/user/signin`, {userid : form.userid.value, password: form.password.value})
            .then((res)=>{
                console.log(res.data);
                if(res.data) {
                    alert('로그인 성공!');
                    form.action = "/user/info";
                    form.method = "post";
                    form.submit();
                } else {
                    alert('로그인 실패!');
                    form.reset();
                }

<!--            axios({-->
<!--                method: "get",-->
<!--                url: "/user/signIn",-->
<!--                params : {userid : form.userid.value, password: form.password.value, nickname:form.nickname.value}-->
<!--            })-->
<!--                if(res.data == "id not found") alert("id를 찾을 수 없습니다");-->
<!--                else if(res.data == "pw error") alert("비밀번호가 틀렸습니다");-->
<!--                else location.href = `/user/${res.data}`;-->
        });
        }
    </script>
</head>
<body>
  <form class="signup">
    id :  <input type="text" name="userid">
      <br>
    pw : <input type="text" name="password">
    <br>
    nickname :  <input type="text" name="nickname">
      <br>
    <button type="button" onclick="signup()">sign up</button>
      <button type="button" onclick="signIn()">sign in</button>
  </form>

</body>
</html>